.about-product{
    margin: 70px 0 60px;
    .container{
        max-width: 705px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__descr{
        max-width: 346px;
        width: 100%;
        text-align: center;
    }
    &__title{
        margin-bottom: 0;
    }
    &__text{
        margin-top: 0 !important;
    }
}
