.header{
    max-width: 355px;
    width: 100%;
    margin-left: 148px;
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: end;
        list-style: none;
    }
    &__item{
        &_link{
            color: #FFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 12px;
            line-height: normal;
            text-decoration: none;
        }
    }
    .first{
        align-items: end;
        display: flex;
    }
}